HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
nbactions.xml
src/main/resources/.DS_Store
/nbproject/
metadataSaved.owl
libs/saxon8-dom.jar
geotimeOutput.owl
.DS_Store
schema-storage/
upload-dir/metadata.xml
e605e087-f19e-4672-8749-57b87869f28d.ttl
.workspace
mappingjj2.ttl
r2rml-mapping/
rdf-data/
testjj2.ttl
script/geotriples-dependencies.jar
/bin/
