HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
nbactions.xml
src/main/resources/.DS_Store
/nbproject/
metadataSaved.owl
libs/saxon8-dom.jar
geotimeOutput.owl
.DS_Store
schema-storage/
upload-dir/metadata.xml
e605e087-f19e-4672-8749-57b87869f28d.ttl
.workspace
mappingjj2.ttl
r2rml-mapping/5339e254-7ff0-45e0-a814-1d5c10294bbd.ttl
r2rml-mapping/fc6b465a-262c-4f08-b9d7-ab8e10867503.ttl
rdf-data/31201730-68e2-4c87-ade1-4ef7ea3ccd3e.ttl
rdf-data/5113c432-c868-4a87-af9e-9b1b2354eea4.ttl
