<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="test.css">
</head>
<body>
	<div class="container">
		<div class="containercontent">Bonjour</div>
		<div class="containerbox">
			<div class="box">
				<div class="titlebox">
					<span> Provider</span>
				</div>
				<div>
					<br><span class="boldfont"> GDI-DE Geodateninfrastruktur Deutschland</span>
					<span><a href="https://www.gdi-de.org/" target="_blank" style="color: #007F7F;text-decoration: none;"> https://www.gdi-de.org</a></span><br><br>
				</div>
			</div>
			<div class="box">
				<div class="titlebox">
					<span>Contact</span>
				</div>
				<div>
					<br><span class="boldfont"> Coordination Office SDI Germany:</span><br><br>
					Telefon: 069 6333-258<br>
					Telefax: 069 6333-446<br>
					<a href="mailto:mail@gdi-de.org" style="color: #000000; text-decoration: none;"> mail@gdi-de.org</a><br>
					<a href="https://www.gdi-de.org" target="_blank" style="color: #000000; text-decoration: none;"> www.gdi-de.org</a><br><br>
					<span class="boldfont"> Postal address:</span><br>
					Coordination Office SDI Germany<br>
					Federal Office for Cartography and Geodesy<br>
					Richard-Strauss-Avenue 11<br>
					60598 Frankfurt am Main, Germany<br><br>
					<span class="boldfont"> Press contact:</span> <a href="mailto:pressekontakt@gdi-de.org" target="_blank" style="color: #000000; text-decoration: none;" >pressekontakt@gdi-de.org</a> <br><br>
					<span class="boldfont"> Twitter:</span> <a href="https://twitter.com/gdi_de" target="_blank" style="color: #000000; text-decoration: none;">www.twitter.com/gdi_de</a> <br><br>
				</div>
			</div>	
		</div>
	</div>
</body>
<footer>
</footer>