<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
	<title>Getting Started: Serving Web Content</title> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<script  type='text/javascript'>
		var elements = [
		{link: "/home", value: "Home", active: "false"},
		{link: "/geotimeWFS/", value: "GeoTimeWFS API", active: "false"},
		{link: "/metadata", value: "Metadata", active: "false"},
		{link: "/metadata/uplift", value: "Metadata uplift", active: "false"},
		{link: "/md2data", value: "Metadata to Data", active: "false"},
		{link: "/schema/upload", value: "Schema upload", active: "false"},
		{link: "/schema/validation", value: "Schema validation", active: "false"},
		{link: "/data/ShpUplift", value: "Shapefile uplift", active: "false"},
		{link: "/data/ShpUpdate", value: "Shapefile update", active: "false"},
		{link: "/csv_loading", value: "CSV uplift", active: "true"}];
	</script>
	<header id="header">
		<div th:insert="fragments/nav :: navbar"></div>
		<h1>CSV uplift</h1>
	</header>
	
	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>
	<div>
		<h3>Good Practice to transform DBF file of a Shapefile into CSV manually </h3>
		<ol>
			<li>Open DBF file with Libre-office in encoding "Western europa (international)"</li>

			<li>Select "save as", define the same name than the shapefile name and choose CSV extension of file</li>

			<li>Click on "use text csv file"</li>

			<li>Set the parameters as follow to save into CSV: </li>
			<ul>
				<li>Character set: Unicode (UTF-8)</li>

				<li>Field delimiter: ;</li>

				<li>String delimiter: " </li>
			</ul>

			<li>Click on ok</li>
		</ol>

	</div>

	<div>
		<form th:action="@{/array_uplift}" th:object="${data}" method="post" enctype="multipart/form-data">
			<table>
				<tr><td>CSV file to uplift:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload for uplift" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>
	<!--<div th:insert="fragments/footer :: footer"></div>-->
</body>
</html>