<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <script  type='text/javascript'>
            var elements = [
                {link: "/home", value: "Home", active: "false"},
                {link: "/geotimeWFS/", value: "GeoTimeWFS API", active: "false"},
                {link: "/metadata", value: "Metadata", active: "false"},
                {link: "/metadata/uplift", value: "Metadata uplift", active: "false"},
                {link: "/md2data", value: "Metadata to Data", active: "false"},
                {link: "/schema/upload", value: "Schema upload", active: "true"}];
        </script>
        
        <header id="header">
            <div th:insert="fragments/nav :: navbar"></div>
            <h1>Schema Upload</h1>
        </header>
        
        <div th:if="${message}">
		<h2 th:text="${message}"/>
		</div>

		<div>
		 <!--  <form method="POST" enctype="multipart/form-data" action="/schema/upload">-->
          <!--   <form th:action="@{/schema/upload}" method="post" enctype="multipart/form-data">-->
            <form action="#" th:action="@{/schema/upload}" th:object="${schema}" method="post" enctype="multipart/form-data">
                 
                 <h4>Type of schema to upload </h4>
            
                 <input type="radio" th:field="*{type}" value="xsd" checked/> 
                 <label for="xsd">XSD schema</label>
                 <input type="radio" th:field="*{type}" value="mapping"/> 
                 <label for="mapping">Mapping schema</label>
				 
				 <h4>Dataset and distribution associated to the schema</h4>
				 <label id="mdlabel">Dataset/Distribution: </label>
                     <select th:field="*{dist}">
                        <option th:each="d : ${DistList}" th:value="${d}" th:text="${d}" th:id="${d}">
                        </option>
                     </select>
                     
                 <h4>GitLab login</h4>  
                 <label for="username">Username:</label>
    			 <input type="text" th:field="*{username}">

			     <label for="pass">Password:</label>
    			 <input type="password" th:field="*{psw}">
  
				 
				 <h4>Schema upload</h4>
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
			
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>
        <!--<div th:insert="fragments/footer :: footer"></div>-->
    </body>
</html>