<!DOCTYPE HTML>
<html >
<head th:replace="fragments/head :: head">
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
         <script  type='text/javascript'>
            var elements = [
                {link: "/home", value: "Home", active: "false"},
                {link: "/geotimeWFS/", value: "GeoTimeWFS API", active: "false"},
                {link: "/metadata", value: "Metadata", active: "true"},
                {link: "/metadata/uplift", value: "Metadata uplift", active: "false"},
                {link: "/md2data", value: "Metadata to Data", active: "false"}];
        </script>
        <header id="header">
            <div th:insert="fragments/nav :: navbar"></div>
            <h1>Metadata selection</h1>
        </header>
        
        <table>
            <thead>
                <tr>
                    <th> Organization </th>
                    <th> Title </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${MDlist.empty}">
                    <td colspan="2"> No Metadata Available </td>
                </tr>
                <tr th:each="md : ${MDlist}">
                    <td><span th:text="${md[1]}"> Organization </span></td>
                    <td><span th:text="${md[2]}"> Title </span></td>
                    <td>
                        <form th:action="@{|/metadata/selected?md=${md[0]}|}" method="post">
                            <input type="submit" value="View"/>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <!--<div th:insert="fragments/footer :: footer"></div>-->
    </body>
</html>