<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title>Getting Started: Serving Web Content</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div class="containerfull">
            <a href="http://localhost:8080/home"><img class="pictureOfHeader" src="https://www.verwaltung-innovativ.de/SharedDocs/Bilder/DE/Artikel/GDI_DE_Logo.jpg?__blob=poster&v=2"></a> 
            <span class="titleOfHeader">Linked Data</span>
            <span class="textOfHeader">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Flag_of_the_United_Kingdom_%282-3%29.svg/1024px-Flag_of_the_United_Kingdom_%282-3%29.svg.png" style="width: 32px; margin-right: 13px;">English | <a href="http://localhost:8080/login" style="text-decoration: none; color: #333333;">Login</a> | <a href="http://localhost:8080/contact" style="text-decoration: none; color: #333333">Contact</a><br><br>
                <a href="https://www.gdi-de.org" target="_blank"><img src="/pictures/GDI-DE.jpg" style="width: 250px; float: right;"></a></span>
 </div>
            <header id="header">
                <div th:insert="fragments/nav :: navbar"></div>
                <h1>Message</h1>
            </header>
            <div class="containerfull">
                <div class="containercontent">
                    <p th:text="${message}"></p>

                    <p th:if="${file}">
                        <a  class="button" th:href="${file}">Download file</a>
                    </p>
                </div >
            </div> 
            <div th:insert="fragments/footer :: footer"></div>
    </body>

</html>

