<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title>Getting Started: Serving Web Content</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>


        <header id="header">
            <div th:insert="fragments/nav :: navbar"></div>
            <h1>Message</h1>
        </header>
        <div class="containerfull">
            <div class="containercontent">
                <p th:text="${message}"></p>


                <div th:if="${file}">
                    <a  class="button" th:href="${file}">Download file</a>
                </div>
                </p>
            </div >
        </div>
        <div th:insert="fragments/footer :: footer"></div>
    </body>

</html>

